.custom-list-group {
    display: grid;
    gap: 50px;

    .custom-list {
        max-width: 600px;
        border-radius: 10px;
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);

        h3 {
            color: #262626;
        }

        p {
            color: #a1a1a1;
        }

        .badge {
            height: fit-content;
            font-weight: 500;
        }

        .show-comments-btn {
            border: none;
            border-radius: 10px;
            padding: 2px 4px;
            line-height: 15px;
            background: white;

            &:hover {
                background: silver;
                transition: all 0.1s ease-in;

                .comment-icon {
                    color: white;
                }

                .count {
                    color: white;
                    font-size: 13px;
                }
            }

            .comment-icon {
                color: #a1a1a1;
            }

            .count {
                color: #a1a1a1;
                font-size: 13px;
            }
        }

    }
}