.answers {
    font-weight: 500;
    color: #a1a1a1;
    font-size: 14px;
    .count {color: #262626; font-weight: bold;}
}

.answer {
    padding: 4px;
    border-left: 5px solid grey;
    background: rgb(181, 216, 230);
    max-width: 700px;
    color: #262626;
    font-weight: 500;
}

.add-answer {
    font-size: 18px;
    font-weight: 500;
}
.mw700 {max-width: 700px;}